---
import { Icon } from "astro-icon/components";

import { Link } from "@components/base";
import { Button } from "@components/ui/react";
import { Section } from "@app/layouts";
import { getLocaleRoute } from "@app/modules/i18n";

import { projects, next } from "./lib/data";
import ProjectList from "./components/project-list.astro";
import ProjectCard from "./components/project-card.astro";

const { locale, translations } = Astro.locals;
const t = translations.sections.projects;

const featuredProjects = projects.filter((project) => project.featured);
const currentDescription = next.description(locale);
---

<script>
  document.addEventListener("astro:page-load", () => {
    const currentProject = document.querySelector(
      "[data-current-project]",
    ) as HTMLElement;

    const button = currentProject?.querySelector("button")!;
    button?.addEventListener(
      "click",
      () => {
        currentProject.classList.add("show");
      },
      { once: true },
    );
  });
</script>

<Section
  id={t.id}
  class="mx-auto max-w-screen-2xl px-4 xs:px-6 sm:px-8"
  title={t.title}
  order={2}
>
  <ProjectList
    class="space-y-12 py-12 sm:mx-4 lg:space-y-24"
    projects={featuredProjects}
    {locale}
  />

  <!-- <div
    data-current-project
    class="pointer-events-none relative"
  >
    <div class="grid overflow-hidden">
      <div class="overflow-hidden *:my-12">
        <ProjectCard
          name={next.name(locale)}
          headline={next.headline(locale)}
          relatedSkills={next.relatedSkills}
          preview={next.preview}
          data-current-project-card
          class="relative sm:mx-4 lg:mt-12"
        >
          <Fragment slot="description">
            {
              currentDescription.map((description) => (
                <p
                  data-project-description
                  class="text-pretty pr-0 text-sm text-foreground/70 md:text-base xl:pr-16"
                  set:html={description}
                />
              ))
            }
          </Fragment>

          <div
            data-mask
            aria-hidden="true"
            class="pointer-events-none absolute inset-0 size-full bg-background"
          >
          </div>
        </ProjectCard>
      </div>
    </div>

    <div
      data-current-project-trigger
      class="pointer-events-none absolute left-1/2 -translate-x-1/2 -translate-y-1/2 text-center"
    >
      <Button
        className="pointer-events-auto px-6"
        variant="default"
      >
        {t.buttonReveal}
      </Button>
    </div>
  </div> -->

  <div class="mx-4 mb-6 mt-12 sm:mx-12 lg:mt-24">
    <p class="text-pretty text-right text-lg font-medium sm:text-xl xl:mr-10">
      <span class="text-foreground/80">{t.seeMore}</span>
      <Link
        class="group inline-block w-fit font-semibold text-primary"
        href={getLocaleRoute(locale, "archive")}
        label={translations.pages.archive.heading}
      >
        <span class="underline underline-offset-2">{t.archiveText}</span>
        <Icon
          name="lucide:arrow-right"
          class="ml-0.5 inline-block size-[1em] text-primary transition-transform group-hover:translate-x-3"
          is:inline
        />
      </Link>
    </p>
  </div>
</Section>

<!--
<style>
   @property --mask-alpha {
    syntax: "<number>";
    inherits: true;
    initial-value: 1;
  }

  @property --mask-position {
    syntax: "<percentage>";
    inherits: true;
    initial-value: 70%;
  }

  [data-current-project] {
    --min-space: 6rem;
    padding-bottom: var(--min-space);
  }

  @media screen(lg) {
    [data-current-project] {
      --min-space: 4rem;
    }
  }

  [data-current-project] {
    user-select: none;
  }

  [data-current-project].show {
    animation: remove-pb 0.6s forwards ease-in-out 0.2s;
  }

  [data-current-project].show [data-current-project-card] {
    pointer-events: auto;
    user-select: text;
  }

  [data-current-project] > div:first-of-type {
    transition: grid-template-rows 0.6s ease-in-out;
    transition-delay: 0.2s;

    grid-template-rows: 0.4fr;
    align-items: flex-start;
  }

  [data-current-project].show > div:first-of-type {
    grid-template-rows: 1fr;
  }

  [data-current-project] [data-current-project-trigger] {
    top: calc(100% - var(--min-space));
  }

  [data-current-project].show [data-current-project-trigger] {
    animation: 
      // these are globally available animations.
      fade-out 0.2s forwards ease-in-out,
      display-none 0s forwards 0.2s;
  }

  [data-current-project] [data-mask] {
    --mask-position: 70%;
    --mask-alpha: 1;

    mask-image: linear-gradient(
      to top,
      rgba(0, 0, 0, var(--mask-alpha)) var(--mask-position),
      rgba(0, 0, 0, 0) 100%
    );
  }

  [data-current-project].show [data-mask] {
    animation:
      mask-slide 0.3s forwards ease-in-out 0.5s,
      mask-fade 0.3s forwards ease-in-out 0.7s;
  }

  @keyframes remove-pb {
    to {
      padding-bottom: 0;
    }
  }

  @keyframes mask-slide {
    to {
      --mask-position: 0%;
    }
  }

  @keyframes mask-fade {
    to {
      --mask-alpha: 0;
    }
  }
</style>
-->
