---
import { ObservedSection } from "@app/layouts";
import { getTranslations, getLocaleRoute } from "@modules/i18n";

import { projects, current } from "./lib/data";
import ProjectList from "./components/project-list.astro";
import ProjectCard from "./components/project-card.astro";
import Button3D from "@app/components/button-3d.astro";
import { Link } from "@app/components/base";
import { Icon } from "astro-icon/components";

const { locale } = Astro.locals;
const translations = getTranslations(locale);
const t = translations.sections.projects;

const featuredProjects = projects.filter((project) => project.featured);
const currentDescription = current.description(locale);
---

<script>
  const currentProject = document.querySelector(
    "[data-current-project]",
  ) as HTMLElement;

  const currentProjectButton = document.querySelector(
    "button[data-current-project-button]",
  )!;

  const mask = currentProject.querySelector("div[data-mask]")!;
  currentProjectButton.addEventListener(
    "click",
    () => {
      currentProject.classList.add("show");
      mask.classList.add("hide");
    },
    { once: true },
  );
</script>

<ObservedSection
  id={t.id}
  class="mx-auto max-w-screen-2xl animate-fade px-4 animate-delay-[1500ms] xs:px-6"
  title={t.title}
  order={2}
>
  <ProjectList
    class="space-y-12 py-12 sm:mx-4 lg:space-y-24"
    projects={featuredProjects}
    {locale}
  />

  <div
    data-current-project
    class="grid overflow-hidden"
  >
    <div class="overflow-hidden *:my-12">
      <ProjectCard
        name={current.name(locale)}
        headline={current.headline(locale)}
        relatedSkills={current.relatedSkills}
        preview={projects[0].preview}
        class="relative -z-10 sm:mx-4 lg:mt-12"
      >
        <Fragment slot="description">
          {
            currentDescription.map((description) => (
              <p
                data-project-description
                class="text-pretty pr-0 text-sm text-foreground/70 md:text-base xl:pr-16"
                set:html={description}
              />
            ))
          }
        </Fragment>

        <div
          data-mask
          aria-hidden="true"
          class="pointer-events-none absolute inset-0 size-full bg-background"
        >
        </div>
      </ProjectCard>
    </div>
  </div>

  <div class="mx-4 mb-6 mt-12 sm:mx-12 lg:mt-24">
    <p class="text-pretty text-right text-lg font-medium sm:text-xl xl:mr-10">
      <span class="text-foreground/80">See more of my projects in</span>
      <Link
        class="group inline-block w-fit font-semibold text-primary"
        href={getLocaleRoute(locale, "archive")}
        label="Project Archive"
      >
        <span class="underline underline-offset-2">the archive</span>
        <Icon
          name="lucide:arrow-right"
          class="ml-0.5 inline-block size-[1em] text-primary transition-transform group-hover:translate-x-3"
        />
      </Link>
    </p>

    <Button3D
      data-current-project-button
      class="mx-auto my-2 w-fit !px-8"
    >
      What I am currently working on?
    </Button3D>
  </div>
</ObservedSection>

<style>
  @property --mask-alpha {
    syntax: "<number>";
    inherits: true;
    initial-value: 1;
  }

  @property --mask-position {
    syntax: "<percentage>";
    inherits: true;
    initial-value: 70%;
  }

  [data-current-project] {
    transition: grid-template-rows 0.6s ease-in-out;
    grid-template-rows: 0.4fr;
    align-items: flex-start;
  }

  [data-current-project].show {
    grid-template-rows: 1fr;
  }

  [data-mask] {
    --mask-position: 70%;
    --mask-alpha: 1;

    mask-image: linear-gradient(
      to top,
      rgba(0, 0, 0, var(--mask-alpha)) var(--mask-position),
      rgba(0, 0, 0, 0) 100%
    );
  }

  [data-mask].hide {
    animation:
      mask-slide 0.3s forwards,
      mask-fade 0.3s forwards 0.2s;
  }

  @keyframes mask-slide {
    from {
      --mask-position: 70%;
    }

    to {
      --mask-position: 0%;
    }
  }

  @keyframes mask-fade {
    from {
      --mask-alpha: 1;
    }

    to {
      --mask-alpha: 0;
    }
  }
</style>
