---
import { Picture } from "astro:assets";
import type { HTMLAttributes } from "astro/types";

import { getTranslations } from "@modules/i18n";

import laptop from "../assets/emojis/laptop.png";
import approachEs from "../assets/images/metodo.png";
import approachEn from "../assets/images/method.png";
import approachCa from "../assets/images/metode.png";

type Props = HTMLAttributes<"article">;

const { locale } = Astro.locals;
const translations = getTranslations(locale);
const t = translations.sections.about.bento.atWork;

// Select the correct image based on the locale
const approach = {
  es: approachEs,
  en: approachEn,
  ca: approachCa,
}[locale];
---

<article {...Astro.props}>
  <header
    class="flex items-center gap-4 text-balance font-header text-xl font-bold"
  >
    <Picture
      src={laptop}
      alt={t.iconAlt}
      formats={["avif", "webp", "png"]}
      class="mt-2 size-[1.3em]"
    />
    <h3 class="mt-3 capitalize">{t.title}</h3>
  </header>
  <p
    class="mt-8 text-pretty text-base text-foreground/80"
    set:html={t.text[0]}
  />

  <p
    class="mb-2 mt-6 text-pretty text-base text-foreground/80 fold:mb-4 sm:mb-2"
    set:html={t.text[1]}
  />

  <div
    class="relative overflow-hidden p-[20%] [@media(850px<=width<=920px)]:p-[18%] [@media(921px<=width<=1024px)]:p-[17%]"
  >
    <Picture
      src={approach}
      alt={t.approachAlt}
      formats={["avif", "webp", "png"]}
      class="absolute inset-0 mx-auto w-fit opacity-50 lg:mt-2 xl:mt-0"
      data-mask
    />
  </div>
</article>

<style>
  [data-mask] {
    mask-image: linear-gradient(
      to bottom,
      black 0%,
      black 40%,
      transparent 80%
    );
  }
</style>
