---
import { Picture } from "astro:assets";
import type { HTMLAttributes } from "astro/types";

import { cn } from "@lib/utils/shadcn";
import { MY_TIMEZONE, TimeDiff } from "@modules/i18n";

import MyTime from "./my-time.svelte";
import houseEmoji from "../assets/emojis/house.png";

export type Props = HTMLAttributes<"article">;
const { class: clazz, ...props } = Astro.props;

const { locale, translations } = Astro.locals;
const t = translations.sections.about.bento.location;
---

<article
  {...props}
  class={cn("grid grid-rows-[auto,1fr]", clazz)}
>
  <header class="flex items-center gap-4 font-header text-xl font-bold">
    <Picture
      src={houseEmoji}
      alt={t.iconAlt}
      formats={["avif", "webp", "png"]}
      class="size-[1.4em]"
    />

    <h3 class="mt-2 capitalize">{t.title}</h3>
  </header>

  <div
    class="mt-8 grid grid-cols-1 grid-rows-[1fr,auto,1fr] gap-y-5 @lg:grid-cols-[auto,auto,auto] @lg:grid-rows-1"
  >
    <div class="self-end">
      <p
        class="text-center text-2xl font-medium"
        data-where
        set:html={t.where}
      />

      <p class="mt-1.5 text-center text-lg font-medium text-foreground/60">
        <small>
          <TimeDiff
            {locale}
            timezoneA={MY_TIMEZONE}
            timezoneB="user"
            client:visible={{ rootMargin: "30%" }}
          />
        </small>
      </p>
    </div>

    <div
      class="h-0.5 w-[80%] justify-self-center bg-muted @lg:h-full @lg:w-0.5"
    >
    </div>

    <MyTime
      class="justify-start text-center font-sans @lg:w-fit @lg:justify-self-center"
      {locale}
      client:visible={{ rootMargin: "30%" }}
    />
  </div>
</article>

<style>
  :global(p[data-where]) {
    font-weight: bold;
  }
</style>
