---
import { Picture } from "astro:assets";
import { Icon } from "astro-icon/components";
import type { HTMLAttributes } from "astro/types";

import pizzaEmoji from "../assets/emojis/pizza.png";
import gamepadEmoji from "../assets/emojis/gamepad.png";

type Props = HTMLAttributes<"article">;

const { translations } = Astro.locals;
const t = translations.sections.about.bento.aboutMe;
---

<article {...Astro.props}>
  <header
    class="flex items-center gap-4 text-balance font-header text-xl font-bold"
  >
    <picture>
      <source
        srcset="/images/emojis/hand/hand.webp"
        type="image/webp"
      />
      <source
        srcset="/images/emojis/hand/hand.png"
        type="image/png"
      />
      <source
        srcset="/images/emojis/hand/hand.avif"
        type="image/avif"
      />
      <img
        src="/images/emojis/hand/hand.gif"
        width={64}
        height={64}
        alt={t.iconAlt}
        decoding="async"
        loading="lazy"
        class="size-[1.5em]"
      />
    </picture>
    <h3 class="mt-3">{t.title}</h3>
  </header>

  <div>
    <p
      class="mt-8 text-pretty text-base text-foreground/80"
      set:html={t.text[0]}
    />

    <p
      class="mt-6 text-pretty text-base text-foreground/80"
      set:html={t.text[1]}
    />
  </div>

  <div class="grid grid-cols-3 grid-rows-1 gap-x-8 pt-8 sm:gap-x-2">
    <div
      data-emoji
      class="relative flex -rotate-12 animate-float flex-col items-center -space-y-3 self-start justify-self-center"
    >
      <Picture
        src={pizzaEmoji}
        alt={t.pizzaEmojiAlt}
        formats={["avif", "webp", "png"]}
        class="size-full"
      />

      <p
        class="inset-x-0 -z-10 mt-2 min-h-fit min-w-max rounded-full border bg-[#1d1b1b] px-[1em] py-[0.2em] text-center text-2xs sm:text-xs"
      >
        <span class="mt-1 inline-flex items-center gap-x-2">
          <Icon
            class="size-[1em]"
            name="heart"
          />
          <span class="sr-only">{translations.misc.loveIconSr}</span>
          <span class="font-medium"> Pizza </span>
        </span>
      </p>
    </div>

    <div
      data-emoji
      class="relative flex flex-col items-center -space-y-1.5 self-end justify-self-center md:bottom-3 lg:bottom-0"
    >
      <picture>
        <source
          srcset="/images/emojis/dog/dog.avif"
          type="image/avif"
        />
        <source
          srcset="/images/emojis/dog/dog.webp"
          type="image/webp"
        />
        <source
          srcset="/images/emojis/dog/dog.png"
          type="image/png"
        />
        <img
          src="/images/emojis/dog/dog.gif"
          alt={t.dogEmojiAlt}
          width={256}
          height={256}
          decoding="async"
          loading="lazy"
        />
      </picture>

      <p
        class="relative left-[5%] z-10 mt-2 min-h-fit min-w-max rounded-full border bg-[#1d1b1b] px-[1em] py-[0.2em] text-center text-2xs sm:text-xs"
      >
        <span class="mt-1 inline-flex items-center gap-x-2">
          <Icon
            class="size-[1em]"
            name="heart"
          />
          <span class="sr-only">{translations.misc.loveIconSr}</span>
          <span class="font-medium"> {t.dogEmojiText} </span>
        </span>
      </p>
    </div>

    <div
      data-emoji
      class="relative flex rotate-12 animate-float flex-col items-center -space-y-3 self-start justify-self-center animate-delay-700 md:top-0 lg:top-[10%]"
    >
      <Picture
        src={gamepadEmoji}
        alt={t.gamepadEmojiAlt}
        formats={["avif", "webp", "png"]}
        class="size-full"
      />

      <p
        class="inset-x-0 -z-10 mt-2 min-h-fit min-w-max rounded-full border bg-[#1d1b1b] px-[1em] py-[0.2em] text-center text-2xs sm:text-xs"
      >
        <span class="mt-1 inline-flex items-center gap-x-2">
          <Icon
            class="size-[1em]"
            name="heart"
          />
          <span class="sr-only">{translations.misc.loveIconSr}</span>
          <span class="font-medium"> {t.gameEmojiText} </span>
        </span>
      </p>
    </div>
  </div>
</article>

<style>
  article {
    display: grid;
    grid-template-rows: auto auto 1fr;
  }

  [data-emoji] {
    max-width: min(100%, 7rem);
  }

  [data-emoji] > picture {
    padding-inline: 10%;
  }

  @media (768px <= width <= 1023px) {
    article {
      column-gap: 2rem;

      grid-template-rows: auto;
      grid-template-columns: 0.6fr 0.4fr;
      grid-template-areas:
        "title emojis"
        "content emojis";
    }

    article > header {
      grid-area: title;
    }

    article > div:first-of-type {
      grid-area: content;
    }

    article > div:last-of-type {
      grid-area: emojis;
    }
  }
</style>
